---
permalink: /
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if site.favicon_img %}
        <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
        {% endif %}
        <link rel="apple-touch-icon" sizes="120x120" href="imgs/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="imgs/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="imgs/favicon-16x16.png" sizes="16x16">
        <meta name="theme-color" content="#ffffff">


        <link rel="stylesheet" href="{{ "css/front.css" | prepend: site.baseurl }}">
        <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet" type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="content">
            {% if site.front_img %}
            <img src="{{ site.front_img_path }}" id="fullscreen">
            {% endif %}

            {% if site.avatar %}
                <img src="{{ site.avatar_img_path }}" id="avatar">
            {% endif %}

            <h1>{{ site.name }}</h1>
            <h3>{{ site.description }}</h3>
            <h5>{{ site.biography-1 }}</h5>
            <h5>{{ site.biography-2 }}</h5>
            <h5>{{ site.biography-3 }}</h5>

                <ul>
                    {% if site.github_username %}
                    <li><a class="fa fa-2x fa-github" href="https://github.com/{{ site.github_username }}" target="_blank"><span class="description">GitHub</span></a></li>
                    {% endif %}

                    {% if site.facebook_username %}
                    <li><a class="fa fa-2x fa-facebook" href="https://facebook.com/{{ site.facebook_username }}" target="_blank"><span class="description">Facebook</span></a></li>
                    {% endif %}

                    {% if site.twitter_username %}
                    <li><a class="fa fa-2x fa-twitter" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><span class="description">Twitter</span></a></li>
                    {% endif %}

                    {% if site.linkedin_username %}
                    <li><a class="fa fa-2x fa-linkedin" href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><span class="description">LinkedIn</span></a></li>
                    {% endif %}

                    {% if site.instagram_username %}
                    <li><a class="fa fa-2x fa-instagram" href="https://instagram.com/{{ site.instagram_username }}" target="_blank"><span class="description">Instagram</span></a></li>
                    {% endif %}

                    {% if site.blog_url %}
                    <li><a class="fa fa-2x fa-code" href="http://{{ site.blog_url }}" target="_blank"><span class="description">Blog</span></a></li>
                    {% endif %}

                    {% if site.messenger_username %}
                    <li><a class="fa fa-2x fa-send-o" href="http://m.me/{{ site.messenger_username }}" target="_blank"><span class="description">Messenger</span></a></li>
                    {% endif %}

                    {% if site.whatsapp_number %}
                    <li><a class="fa fa-2x fa-whatsapp" href="whatsapp://send?abid=+{{ whatsapp_number }}&text=Hola%2C%20MiraMiCodigo" title="Whatsapp: +{{ site.whatsapp_number }}"><span class="description">Whatsapp</span></a></li>
                    {% endif %}

                    {% if site.email %}
                    <li><a class="fa fa-2x fa-envelope" href="mailto:{{ site.email }}"><span class="description">Email</span></a></li>
                    {% endif %}

                </ul>
        </div>

    </body>
</html>
